.footerPage {
	width: 100%;
	background-color: #6278f7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 48px 96px;
	box-sizing: border-box;
}

.footerPage p {
	color: white;
}

.footerPage .socialMedia {
	display: flex;
	gap: 2rem;
}
